@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body, p {
    margin: 0px;
    padding: 0px;
    }

body {
    background-color: #f5f7fa;
}

.container {
    margin-left: 23.9583%;
    margin-right: 23.9583%;
}

.name {
    font-size: 32px;
    line-height: 21px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 113px;
}

.knowledge form {
    margin-left: 39px;
    display: flex;
    flex-wrap: wrap;
}

.knowledge, 
.aboutMe,
.notes {
    width: 1000px;
    border-radius: 6px;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.05));
    background-color: #ffffff;
}

.knowledge {
    height: 216px;
    margin-top: 61px;
}

.knowledge div {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.knowledge>.title,
.title {
    font-size: 22px;
    line-height: 21px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    padding-top: 42px;
    padding-left: 39px;
    margin-bottom: 24px;
}

.knowledge p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin-right: 30px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: #e8ebed;
    margin: 0px 12px 0px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    background-image: url(images/Tick-icon.svg);
    border-color: #1a7bff;
    background-color: #1a7bff;
}

.aboutMe {
    height: 279px;
    margin-top: 50px;
}

.face {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    float: left;
    margin-left: 40px;
}

.aboutMe-container {
    margin-top: 31px;
}

.aboutMe-text {
    width: 770px;
    height: 173px;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 192px;
}

.notes {
    height: 184px;
    margin-top: 51px;
    /* border-radius: 6px 6px 0px 0px; */
}

.addNote-text {
    width: 725px;
    height: 55px;
    border-radius: 2px;
    background-color: #f5f7fa;
    border: none;
    margin-left: 40px;
}

.notes>.title {
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.addNote-text[placeholder="Текст заметки"] {
    font-size: 14px;
    line-height: 27px;
    color: #808080;
    font-weight: 400;
    font-family: "Montserrat";
    padding-left: 20px;
    outline: none;
}

.addNote-text:focus {
    color: #000;
}

.addNote-btn {
    width: 180px;
    height: 55px;
    border-radius: 2px;
    background-color: #1a7bff;
    border: none;
    margin-left: 15px;
    font-size: 12px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

.notes-field {
    /* display: none; */
    display: flex;
    width: 1000px;
    max-height: 375px;
    border-radius: 6px;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.05));
    background-color: #f5f7fa;
}

.notes-field-col {
    width: 292px;
    margin-top: 39px;
    max-height: 295px;
    background-color: olivedrab;
}

.col-1 {
    margin-left: 40px;
    margin-right: 21px;
}

.col-2 {
    margin-right: 21px;
}

/* стиль добавленной заметки */
.note-complete {
    width: 292px;
    height: 150px;
    border-radius: 2px;
    background-color: #ffffff;
}