@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body, p {
    margin: 0px;
    padding: 0px;
    }

body {
    background-color: #f5f7fa;
}

.container {
    margin-left: 23.9583%;
    margin-right: 23.9583%;
}

.name {
    font-size: 32px;
    line-height: 21px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 113px;
}

.knowledge form {
    margin-left: 39px;
    display: flex;
    flex-wrap: wrap;
}

.knowledge, 
.aboutMe,
.notes,
.list,
.news {
    width: 1000px;
    border-radius: 6px;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.05));
    background-color: #ffffff;
}

.knowledge {
    height: 216px;
    margin-top: 61px;
}

.knowledge div {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.knowledge>.title,
.title {
    font-size: 22px;
    line-height: 21px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    padding-top: 42px;
    padding-left: 39px;
    margin-bottom: 24px;
}

.knowledge p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin-right: 30px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: #e8ebed;
    margin: 0px 12px 0px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    background-image: url(images/Tick-icon.svg);
    border-color: #1a7bff;
    background-color: #1a7bff;
}

.aboutMe {
    height: 279px;
    margin-top: 50px;
}

.face {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    float: left;
    margin-left: 40px;
}

.aboutMe-container {
    margin-top: 31px;
}

.aboutMe-text {
    width: 770px;
    height: 173px;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 192px;
}

.notes {
    height: 184px;
    margin-top: 51px;
}

.addNote-text {
    width: 725px;
    height: 55px;
    border-radius: 2px;
    background-color: #f5f7fa;
    border: none;
    margin-left: 40px;
}

.notes>.title {
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.addNote-text[placeholder="Текст заметки"] {
    font-size: 14px;
    line-height: 27px;
    color: #808080;
    font-weight: 400;
    font-family: "Montserrat";
    padding-left: 20px;
    outline: none;
}

.addNote-text:focus {
    color: #000;
}

.addNote-btn {
    width: 180px;
    height: 55px;
    border-radius: 2px;
    background-color: #1a7bff;
    border: none;
    margin-left: 15px;
    font-size: 12px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

.notes-field {
    /* display: none; */
    display: flex;
    width: 1000px;
    max-height: 375px;
    border-radius: 0px 0px 6px 6px;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.05));
    background-color: #f5f7fa;
    overflow: auto;
    
}

/* стиль добавленной заметки */
.note-complete {
    width: 252px;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 21px 20px 23px 20px;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    position: relative;
}

.col-1 .note-complete {
    margin-left: 40px;
    margin-right: 21px;
    margin-top: 23px;
}

.col-2 .note-complete {
    margin-right: 21px;
    margin-top: 23px;
}

.col-3 .note-complete {
    margin-top: 23px;
}

.note-complete:first-child {
    margin-top: 39px;
}

.note-complete:last-child {
    margin-bottom: 39px;
}

.notes-field-isNotEmpty {
    border-radius: 6px 6px 0px 0px;
}

.list {
    margin-top: 49px;
}

.notes-field::-webkit-scrollbar {
    width: 4px;
}

.notes-field::-webkit-scrollbar-track {
    background-color: #e6eaf0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    
    
}

.notes-field::-webkit-scrollbar-thumb {
    background-color: #1a7bff;
    border-radius: 2px;
    height: 73px;
}

.notes-field::-webkit-resizer {
    height: 335px;
}

.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    height: fit-content;
}

.deletedNote {
    display: none;
}

.list {
    height: 328px;
}

.list-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 41px;
    margin-bottom: 28px;
}

.list-item>p {
    margin-left: 16px;
}

.list-item:last-child {
    align-items: flex-start;
    padding-bottom: 40px;
}

.list-item:last-child>img {
    padding-top: 5px;
}

.news {
    height: 542px;
    margin-top: 50px;
    margin-bottom: 77px;
}

.news-row {
    display: flex;
    padding-left: 41px;
}

.news-row:first-child {
    padding-top: 39px;
    margin-bottom: 22px;
}

.news-item {
    width: 291px;
    height: 219px;
    background-color: cadetblue;
    margin-right: 22px;
    position: relative;
}

.news-row:last-child {
    padding-bottom: 40px;
}

.news-item img {
    width: 291px;
    height: 219px;
    border-radius: 3px;
    z-index: -1;
}

.news-title {
    position: absolute;
    top: 21px;
    left: 20px;
    font-size: 10px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

.news-content {
    position: absolute;
    top: 68px;
    left: 20px;
    width: 252px;
    height: 209px;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

.news-btn {
    position: absolute;
    top: 165px;
    left: 19px;
    width: 114px;
    height: 33px;
    border-radius: 2px;
    background-color: #1a7bff;
    font-size: 12px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    border: none;
}